<mat-toolbar class="mat-toolbar" color="primary">
  <button class="hamburger mat-button" mat-button="" title="Docs menu">
    <span class="mat-button-wrapper"><mat-icon class="mat-icon" role="img" svgicon="menu" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" focusable="false" viewBox="0 0 24 24"><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></svg></mat-icon>
    </span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div>
  </button>
  <span>World Cup 2018</span>

  <span  *ngIf="user.name" class="example-fill-remaining-space"></span>

  <span  *ngIf="user.name">{{user.name}}
  <img [src]="user.photoUrl" height="40px" width="40px">
  </span>
</mat-toolbar>
