.header{
  text-align: center;
}
.container{
  text-align: center;
}


.center{
  width: auto;
  margin: 0px auto;
}

.main-div{
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mat-card{
  height: 250px;
}
